# ***1.Explain the key features of Python that make it a popular choice for programming .***

 Python is a general purpose programming language that is used for web development,software programming,data science and many more uses.

 key features -:

  1-Readability - Phython's syntax is very easy to read and understand.
  
  2-Simplicity - It is a good choice for beginners and experienced developers.

  3-Versatility- Used to create a verity of different programs .

   4-Open Source - Making it freely useable and distributable.

   5-Huge active community and all optimized well writen codes are already added and a lot of libraries (137000 liabraries )

# **2.Describe the role of predefined keywords in Python and provide examples of how they are used in a program ?**

A keyword refers to a predefined word that python reserves for working programs that have a specific meaning, You canâ€™t use a keyword anywhere else.
so in python predefined keyword are case sensitive.Keyword can't be used for name as variable.
It is green colour and bold.So there are 35 keywords are there in phython.
example - True ,False ,None ( True =1 & Flase = 0 ) etc .

 Here are some examples -

In [7]:
a="pwskills"
"p" in a

True

In [8]:
"z" in a

False

# **3 .Compare and contrast mutable and immutable objects in Python with examples.**

**Mutable Objects** - Objects or container whose state or value can be changed after they are created are called as mutable objects.
                  Examples - Lists, dictionaries, sets.
                  Can modify in place without creating a new object.
                  Mutability affects how objects are stored and manipulated in memory, impacting performance, memory usage, and concurrency in Python                     programs.
    
**Immutable Objects** - Objects or container whose state or value can not be changed after they are created are called as immutable objects.
                     Examples - Integers, floats, strings
                     Creating a new object is required when attempting to modify.

Here are some examples -

In [9]:
#example of Mutable Objects -
list_count = [1,2,4.5,"soumya ray"]
list_count[0]=5
print(list_count)

[5, 2, 4.5, 'soumya ray']

In [11]:
#example of Mutable Objects -
a = ("soumyaray")
a[0]= 'p'
print(a)

#so string is an immutable object

TypeError: 'str' object does not support item assignment

# 4.**Discuss** the different types of operators in Python and provide examples of how they are used ?

Operators are speacial keywords or symbols that are used to perform some operations on values or variables.
We want to manage data,do computation and make decision using data.
There are different types of operators in Phython and they are having different types of work .
1. Arithmetic Operator
2. Logical Operator
3. Comparison Operator
4. Membership Operator
5. Identity Operator
6. Assignment Operator and more

In [16]:
#Arithmetic Operator
x=2
y=5
print(x+y)
#here + is worked as additional Operator
print(x-y)
print(x/y)
print(x%y)
print(x**y)
print(x//y)

7
-3
0.4
2
32
0

In [17]:
#Logical Operator
x=5
y=10
z=15
print(x>y and x>z)
print(x>y or x>z)
print(not(x>y and x>z))

False
False
True

In [18]:
#Comparison Operator
x=10
y=4
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)

False
True
True
False
True

In [19]:
#floor Operator - Bring the Value Lower side
4//3

1

In [20]:
#not operator
not True
not False

True

In [21]:
#Identity Operator -compare the location of two objects
a=2
b=3
a is not b

True

In [22]:
#Membership operators
a = ("pwskills")
'p' in a

True

# 5**. Explain the concept of type casting in Python with examples .**

Type casting is also known as type conversion and it is the process of converting one data type into another.

 This can be done implicitly means it can done automatically or explicitly means it can done by using built-in functions like int(), float(), str().

 There is a best example -

 your name - Soumya Ray - String

 your age - 28 - Integer

 your weight - 65.7 -Float

 your gender- Male - boolean  
  

  **some special cases are there **---

 character can't be converted into number

 interger can't add with string directly

In [31]:
a="soumyaray"
type(a)

str

In [32]:
a=2
type(a)

int

In [34]:
a=3.5
type(a)

float

In [37]:
#now we can convert inter to float
a=2
b=float(a)
print(b)
type(b)
# here 2 convert to 2.0 (float value)

2.0

float

In [38]:
a=5
b=str(a)
print(b)
type(b)
#here integer convert to string

5

str

In [41]:
a="soumya"
b="ray"
print(a+b)
type(a+b)

soumyaray

str

# 6**. How do conditional statements work in Python? Illustrate with examples .**

In Python we use conditional statements to control the flow of the program's execution based on whether a condition is true or false.
so it enabling  to execute different blocks of code accordingly.

 In conditional statement we use differ condtions like
 1. If conditon
 2. If-else conditon
 3. If-elif-else conditon
 4. Nested If else conditon

In [53]:
#If condition

temp =32
if temp > 25 :
  print("it's a hot day")

it's a hot day

In [52]:
# If-else condition
weather ="rainy"
if weather == "rainy":
    print("I will not play cricket ")
else:
    print("I will watch cricket on Tv")

I will not play cricket

In [54]:
# If-elif-else condition
score = 80
if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
else:
    print("Grade: D")

Grade: B

In [58]:
#nested if else
x=1
y=6
if x>5 :
    if y >5:
        print("both are greater than 5")
    else:
        print("x is greater than 5 but y is not")
else:
    print ("x is not greater tha 5 ")

x is not greater tha 5

# 7.Describe the different types of loops in Python and their use cases with examples.

In Phython loops allows you to execute a block of code repeatedly.Python offers two primary loop types: for and while, each serving distinct purposes.

for loop -

 Iterates over a sequence of elements, executing a block of code for each item.Processing elements in a lists, strings .

 Iterating over a range of numbers using the range()function.

 While loop -

 Executes a block of code repeatedly as long as a specified condition is true.
 Handling user input until valid input is received.

In [65]:
 # while loop
 n= 6
 i = 1
 while i<n:
  print (i)
  i=i+1

1
2
3
4
5

In [61]:
#For Loop
for i in "pwskills":
    print(i)

p
w
s
k
i
l
l
s